<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Occupation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.occupation %></td>
        <td><a href=<%= "\"/users/#{user.id}\"" %>>Show</a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<a href="/users/new">New User</a>
