<h1>New User</h1>

<form action='/users' method='POST'>
  <div class="field">
    <label>Name: <br>
    <input type="text" name="name">
  </div>
  <div class="field">
    <label>Occupation: <br>
    <input type="text" name="occupation">
  </div>
  <div class="actions">
    <input type="submit">
  </div>
</form>

<a href="/users">Users Index</a>
